<!----------------------------------------------------------------------------------------------------------------------
  -- Login Button
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="login-button">
        <b-nav-item-dropdown v-if="account" id="profile-dropdown" :title="account.username" right no-caret>
            <template slot="button-content">
                <b-img v-if="account.avatar_url" rounded="circle" width="32" height="32" blank-color="#777" :src="account.avatar_url"></b-img>
                <fa v-else icon="user-circle" size="2x"></fa>
            </template>
            <b-dropdown-text class="text-nowrap">
                {{ account.name }}
            </b-dropdown-text>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item :href="account.web_url" target="_blank">
                <fa icon="user-circle"></fa>
                Profile
            </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-form v-else>
            <b-button :href="loginURL">
                <fa :icon="[ 'fab', 'gitlab' ]"></fa>
                Login
            </b-button>
        </b-nav-form>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    #login-button {
        #profile-dropdown {
            .nav-link {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Managers
    import authMan from '../../../lib/api/managers/auth';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'LoginBtn',
        computed:
        {
            account(){ return authMan.account; },
            appID(){ return this.$siteConfig.auth.appID; },
            loginURL()
            {
                const hash = authMan.regenState();
                const redirectURI = `${ window.location.origin }/oauth/redirect`;
                return `https://gitlab.com/oauth/authorize?client_id=${ this.appID }&redirect_uri=${ redirectURI }&response_type=token&state=${ hash }`
            }
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
