<!----------------------------------------------------------------------------------------------------------------------
  -- footer.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-container id="site-footer">
        <hr>
        <ul v-if="links.length > 0" class="list-inline mt-2 mb-0">
            <li class="list-inline-item mr-0" v-for="(link, index) in links" :key="index">
                <span v-if="index !== 0" class="mr-2 ml-2">&bull;</span>
                <a :href="link.href">
                    <fa v-if="link.icon" :icon="link.icon"></fa>
                    {{ link.text }}
                </a>
            </li>
        </ul>
        <div class="mt-1 mb-2 text-muted text-center">
            <small>v{{ version }}</small>
            ·
            <small>Built with <a href="https://gitlab.com/skewed-aspect/grimoire">Grimoire</a></small>
        </div>
    </b-container>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #site-footer {
        text-align: center;

        &.has-sidebar {
            padding-left: 260px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    import { version } from '../../../package.json';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteFooter',
        computed: {
            version()
            {
                return version;
            },
            links()
            {
                return this.$themeConfig.footerLinks || [];
            }
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
