<!----------------------------------------------------------------------------------------------------------------------
  -- header.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-navbar id="site-header" toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand to="/">
<!--            <img src="../assets/images/agrinet-nav-logo.png" class="d-inline-block align-top" alt="AgriNet" />-->
                {{ siteName }}
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item
                    :to="link.to"
                    :href="link.href"
                    :target="link.target"
                    v-for="link in navLinksLeft"
                    :key="link.to || link.href"
                >
                    {{ link.text }}
                </b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item
                    :to="link.to"
                    :href="link.href"
                    :target="link.target"
                    v-for="link in navLinksRight"
                    :key="link.to || link.href"
                >
                    {{ link.text }}
                </b-nav-item>

                <login-btn class="ml-2"></login-btn>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #site-header {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Components
    import LoginBtn from '../header/login.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteHeader',
        components: {
            LoginBtn
        },
        data()
        {
            return {
                selectedPage: undefined
            };
        },
        computed: {

            siteName()
            {
                return this.$siteConfig.title;
            },
            navLinksLeft()
            {
                return this.$themeConfig.navLinks.filter((link) =>
                {
                    return !link.position || link.position === 'left';
                });
            },
            navLinksRight()
            {
                return this.$themeConfig.navLinks.filter((link) =>
                {
                    return link.position === 'right';
                });
            }
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
