<!----------------------------------------------------------------------------------------------------------------------
  -- wrapper.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div class="page-wrapper">
        <!-- Header -->
        <site-header></site-header>

        <!-- Content -->
        <b-container class="content" :fluid="fluid">
            <div v-if="sidebar">
                <b-card id="page-sidebar" class="mt-4 drop-shadow">
                    <ul class="list-unstyled">
                        <li :class="`level-${ heading.level }`" v-for="(heading, index) in page.markdownHeadings" :key="index">
                            <saber-link :to="`#${ heading.slug }`">
                                {{ heading.text }}
                            </saber-link>
                        </li>
                    </ul>
                </b-card>
            </div>
            <div id="page-content" class="mt-4 drop-shadow">
                <slot name="default"></slot>
            </div>
        </b-container>

        <!-- Footer -->
        <site-footer></site-footer>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .page-wrapper {
        .content {
            display: flex;
            flex-direction: column;

            #page-sidebar {
                flex: 0 0 250px;
                min-width: 250px;

                ul > li {
                    & a {
                        color: #777;
                        text-decoration: none;

                        &:hover {
                            color: #aaa;
                        }
                    }
                }

                .level-1 {
                    font-size: 1.5rem;
                    border-bottom: 1px solid #aaa;
                    margin-bottom: .5rem;

                    & a {
                        color: black;

                        &:hover {
                            color: #555;
                        }
                    }
                }

                .level-2 {
                    font-size: 1.25rem;
                    margin-left: 0.25rem;

                    & a {
                        color: #333;

                        &:hover {
                            color: #777;
                        }
                    }
                }

                .level-3 {
                    margin-left: 0.75rem;
                }

                .level-4 {
                    margin-left: 1.25rem;
                }

                .level-5 {
                    font-size: 0.85rem;
                    margin-left: 1.75rem;

                    & a {
                        color: #999;
                        text-decoration: none;

                        &:hover {
                            color: #bbb;
                        }
                    }
                }

                .level-6 {
                    font-size: 0.85rem;
                    margin-left: 1.75rem;

                    & a {
                        color: #999;
                        text-decoration: none;

                        &:hover {
                            color: #bbb;
                        }
                    }
                }
            }

            #page-content {
                flex: 1 1 auto;

                .edit-link {
                    font-size: 0.85rem;
                }
            }

            @media(min-width: 768px)
            {
                flex-direction: row;
                #page-sidebar {
                    margin-right: 1rem;
                }
            }
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Components
    import SiteHeader from './header.vue';
    import SiteFooter from './footer.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'PageWrapper',
        props: {
            page: {
                default()
                {
                    return { attributes: {} };
                }
            },
            disableEdit: {
                default: false
            }
        },
        components: {
            SiteHeader,
            SiteFooter
        },
        computed: {
            fluid(){ return !!(this.page.attributes || {}).fluid; },
            sidebar(){ return !!(this.page.attributes || {}).sidebar; },
            projectURL()
            {
                return this.$themeConfig.projectURL;
            }
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
