//----------------------------------------------------------------------------------------------------------------------
// Site SCSS Theming
//----------------------------------------------------------------------------------------------------------------------

// Make header anchors appear on hover
#page-content h1,
#page-content h2,
#page-content h3,
#page-content h4,
#page-content h5,
#page-content h6 {
    a.header-anchor {
        float: left;
        margin-left: -0.65em;
        opacity: 0;
        text-decoration: none;

        transition: opacity 350ms ease-in,
            color 250ms ease-in
    }

    &:hover {
        a.header-anchor {
            opacity: 1;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
