<!----------------------------------------------------------------------------------------------------------------------
  -- redirect.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-container id="oauth-redirect" class="pt-2" fluid>
        Redirecting...
    </b-container>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #oauth-redirect {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    import qs from 'querystring';

    // Managers
    import authMan from '../../lib/api/managers/auth';

    //------------------------------------------------------------------------------------------------------------------

    export const attributes = {
        permalink: '/oauth/redirect'
    };

    export default {
        name: 'OAuthRedirect',
        async mounted()
        {
            const { access_token, token_type, expires_in, state } = qs.parse(this.$route.hash.substr(1));

            if(state === authMan.state)
            {
                await authMan.setCode(access_token, token_type, expires_in);
                window.localStorage.removeItem('oauth_state');
                this.$router.push('/');
            }
            else
            {
                console.warn('OAuth state mismatch; possible CSRF attack.');
            } // end if
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
